<div class="jumbotron" style="width:500px; margin-left:300px">
  <a href="http://localhost:4200/customers/{{ customer$.id }}" style="color:#787878"><span class="fa fa-reply"></span> Back </a><br><br>
  <h2> Update customer № {{ customer$.id }}</h2><br>
  <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerName, address, customerPhone)">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" placeholder="Enter customers' name..." name="name"
          [(ngModel)]="customerName" #name="ngModel" required>
          <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
            Name is required!
          </div>
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input type="address" class="form-control" id="address"
      placeholder="Enter new address..." [(ngModel)]="address" name="address">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="phone" class="form-control" placeholder="Enter phone number..." name="phone"
      [(ngModel)]="customerPhone" #phone="ngModel" required>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Phone is required!
      </div>
    </div><br>
    <button [disabled]="name.invalid || phone.invalid" type="submit" class="btn btn-success">Update <span class="fa fa-send"></span></button>
  </form>
</div>
