<div class="jumbotron" style="width:500px; margin-left:300px">
    <a href="http://localhost:4200/customers" style="color:#787878"><span class="fa fa-reply"></span> Back </a><br><br>
<h2> Add new customer </h2><br>
  <form #customerForm="ngForm" (ngSubmit)="onSubmit(name, address, phone)">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter customers' name..." required
               [(ngModel)]="name" name="name">
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input type="address" class="form-control" id="address"
      placeholder="Enter address..." [(ngModel)]="address" name="address">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="phone" class="form-control" id="phone"
      placeholder="Enter phone number..." [(ngModel)]="phone" name="phone">
    </div><br>
    <button type="submit" class="btn btn-success">Add <span class="fa fa-send"></span></button>
  </form>
