<h1>
Customers
</h1>
<div>
<table  style="width:100%">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
</tr>
<tr *ngFor="let customer of customers$">
    <td> {{ customer.id }} </td>
    <td><a href ="http://localhost:4200/customers/{{ customer.id }}"> {{ customer.name }} </a></td>
    <td> {{ customer.address }} </td>
    <td> {{ customer.phone }} </td>
</tr>
</table><br>
<div>
<a href="http://localhost:4200/customers/create/new" class="btn btn-success" role="button">Create new item</a>
</div><br><br>

</div>
