<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:4200/main">Sombra test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink = "/products">Products</a></li>
      <li class="nav-item"><a class="nav-link" routerLink = "/customers">Customers</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>Welcome to {{title}}!</h1>
  <router-outlet></router-outlet>
</div>

<footer class="footer text-center">
  <p>Made by Tetiana Omelinska</p>
</footer>
