<div class="jumbotron">
<h1> PRODUCTS </h1>
<table class="table table-hover" style="width:100% ">
<tr>
    <th>ID</th>
    <th>Product</th>
    <th>Price</th>
</tr>
<tr *ngFor="let product of products$">
    <td> {{ product.id }} </td>
    <td><a href ="http://localhost:4200/products/{{ product.id }}"> {{ product.name }} </a></td>
    <td> {{ product.price }} </td>
</tr>
</table><br>
<div>
<a href="http://localhost:4200/products/create/new" class="btn btn-success" role="button" style="color:#ffffff">Create new item</a>
</div>
<div>
</div>
